*{
    margin: 0;
    padding: 0;
}

/* Mohhammad Code Start*/ 
body{
    width: 100%;
    font-family: 'Amaranth', sans-serif;
    background-image: url("https://wallpapers.com/images/hd/2560x1440-black-wallpaper-qeb1t2mdo52iv94m.jpg");
    background-size: cover;
    
}

nav{
    border-radius: 50px;
}

#Hero{
    display: flex;
    flex-direction: row;
    height: 85vh;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 50px ;
    margin: 4% 4%;
    width: 95%;
    background-color: rgba(248, 249, 251, 0.925);
    box-shadow: 5px 3px 0 0    rgba(0, 0, 0, 0.212);
    max-height: fit-content;
}

.container-fluid{
    border-radius: 50px;
    background-color: rgba(248, 249, 251, 1);
    padding: 5px;
}
#navbarNav{
    
    justify-content: flex-end;
    background-color: rgba(248, 249, 251, 1);
}
#navandselect{
    padding: 5px 15px;
    width: 35%;
    border-radius: 50px;
    background-color: rgba(248, 249, 251, 1);
    margin-left: 20px;
}

#iframecontainer{
    border-radius: 50px;
    /* background-color: rgba(77, 243, 255, 0.562); */
    margin: 0 2%;
    width: 100%;
    height: 80vh;
    margin-top: 2.5vh;
    color: black;
    padding: 50px 40px;
}

iframe{
    width: 100%;
    height: 100%;
}

.dropdown-contianer {
    text-align: center;
}

select{
    width: 60%;
    height: 50px;
    border-radius: 25px;
    border: none;
    border-right: 15px transparent solid;
    padding-left: 15px;
}

optgroup{
    background-color: rgb(255, 255, 255);
    font-size: 1.2em;
}

optgroup:hover{
    color: white;
}
.popupmenu{
   opacity: 0;
}
#recipiesId{
    background-color: rgba(6, 215, 252, 0.11);
    text-align: left;
}
#secondsection{
    background-color: rgba(121, 98, 34, 0.11);
    text-align: left;
    width: 100%;
}
form > .col-auto > p {
    color: grey;
}
h1, h2, h5 ,p {
    text-align: center;
    
}
h1{
    color: rgb(255, 0, 0);
}
p{
    color:rgb(0, 0, 0);
}
.row{
    margin-top: 15vh;
    justify-content: center;
}

@media screen and (max-width : 900px) {
    #Hero{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    #navandselect{
        
        width: 90%;
        margin: auto;
        height: 70vh;
        border-radius: 50px;
        justify-content: center;
        background-color: rgba(248, 249, 251, 1);
        
    }
    .row{
        margin-top: 2vh;
        justify-content: center;
    }
    #iframecontainer{
    
        border-radius: 50px;
        background-color: rgba(77, 243, 255, 0.562);
        margin: auto;
        width: 90%;
        min-height: 80vh;
        margin-top: 2.5vh;
        color: black;
        padding: 30px 25px;
    }
    
    
}

/* Mohhammad Code End*/ 
